[page-type=blog]
	.post-item
		position relative
		span(1)
		height 50vw
		+below($md)
			height 100vw
		.item-visual, .item-text
			span(1/2)
			height 100%
			+below($md)
				stack()
				position absolute
		.item-visual
			img
				object-fit cover
			.thumbnail-slider
				width 100%
				height 100%
				.flickity-slider
					transform none !important
				img
					left 0 !important
					visibility hidden
					&.is-selected
						visibility visible
		.item-text
			display flex
			justify-content center
			align-items center
			text-align center
			padding 3rem
			background $primary
			blog-item-title('serif')
		.link-overlay
			display flex
			justify-content center
			align-items center
			width 100%
			height 100%
			position absolute
			top 0
			left 0
			z-index 1
		&.small:nth-child(4n+2), &.small:nth-child(4n+3), &:not(.small):nth-child(2)
			background $secondary
			.item-text
				background $secondary
				color $primary
			&.news
				.item-text
					color $accent
		&.news
			.item-text
				color $accent
				blog-item-title('sans-serif')
		+above($md + 1)
			&.small
				span(1/2)
				height 25vw
				.item-text
					font-size 4.25vw