button3d(color)
	if color == 'light'
		$1 = alpha(rgb(255,255,255), 0.5)
		$2 = alpha(rgb(0,0,0), 0.5)
	else
		$1 = alpha(rgb(0,0,0), 0.5)
		$2 = alpha(rgb(255,255,255), 0.3)
	$steps = 3px
	// $value = ''
	// for $i in 1..$steps
	// 	$size = (3em/$i)
	// 	$value += 'inset %s %s %s 0px %s, ' % ($size $size ($size/2) $1)
	// for $i in 1..$steps
	// 	$size = (-3em/$i)
	// 	$value += 'inset %s %s %s %s %s' % ($size $size ($size/2) ($size/2) $2)
	// 	if $i != $steps
	// 		$value += ', '
	box-shadow inset $steps $steps $steps 0px $1, inset ($steps*2/3) ($steps*2/3) $steps 0px $1, inset ($steps*1/3) ($steps*1/3) $steps 0px $1, inset (-1*$steps*1/3) (-1*$steps*1/3) 0px 0px $2, inset (-1*$steps*2/3) (-1*$steps*2/3) $steps 0px $2, inset (-1*$steps) (-1*$steps) $steps $steps $2


.button
	sans-serif()
	display block
	text-transform uppercase
	text-align center
	padding 1em
	background $accent
	min-width 6em
	cursor pointer
	z-index 3
	box-shadow inset 0px 0px 0px 0px transparent
	transition box-shadow 300ms ease
	&.rounded
		border-radius 1.5em
	&.black-hover:hover, &.black
		background $secondary
		color $accent
	&.bump
		&:hover
			transition box-shadow 100ms ease
			button3d('light')
		&:active
			transition box-shadow 100ms ease
			button3d('dark')

.button.post-tag
	position relative
	display block
	width 65%
	max-height 90%
	margin 0 auto
	padding 1.4em 1em
	z-index 1
	& > *
		align()
		width 100%
		padding 0 0.5em
		line-height 0.85
		white-space normal

span.button
	display inline-block