.button
	font-family 'ApaxMedium'
	display block
	text-transform uppercase
	text-align center
	padding 1em 1em 0.8em
	background $accent
	min-width 6em
	cursor pointer
	z-index 3
	&.rounded
		border-radius 1.5em
	&.black
		background $secondary
		color $accent

span.button
	display inline-block