#intro
	cursor pointer
	position fixed
	width 100%
	height 'calc(100% - %s)' % ($headerHeight)
	bottom 0
	left 0
	background $secondary
	z-index 540
	padding 'calc(%s * 1.5) %s' % ($headerHeight $headerHeight)
	svg
		display block
		height 100%
		width 100%
		path
			fill $accent
		.hide
			display none

body.with-intro
	overflow hidden
	#site-title, #menu-burger
		opacity 0
		visibility hidden
