#menu
	display none
	height 'calc(100% - %s)' % ($headerHeight)
	width 100%
	position fixed
	top $headerHeight
	left 0
	z-index 600
	+above($md + 1)
		grid-template-columns 50% auto $headerHeight
		grid-template-rows '%s auto' % ($headerHeight $headerHeight)
		grid-template-areas 'categories search close' 'categories tags tags'
	+below($md)
		grid-template-columns 50vmin 50vmin
		grid-template-rows auto 50vmin
		grid-template-areas 'categories categories' 'more close'
	*
		min-width 0
		min-height 0

#close-additional-menu, #close-menu
	display none
	grid-area close
	font-cta()
	a
		background $accent
		color $secondary
		// font-size 2.3rem
		width $headerHeight
		height $headerHeight
		border-radius 100%
		display inline-flex
		justify-content center
		align-items center
		+below($md)
			font-menu()
			width 100%
			height 100%
		+above($md + 1)
			&:hover
				color $accent
				background $secondary

nav#main-categories
	grid-area categories
	ul
		width 100%
		height 100%
		display flex
		flex-direction column
		justify-content center
		align-items center
	li
		position relative
		flex-grow 1
		width 100%
		text-transform uppercase
		text-align center
		display flex
		justify-content center
		align-items center
		a
			align()
			width 100%
		&.rounded
			border-radius 20em
	li:not(#more-button)
		font-menu()
		padding 1em 3em
	li#more-button
		font-menu()
		flex-grow 0
		min-width initial
		width auto
		+below($md)
			position absolute
			bottom 0
			left 0
			width 50vmin
			height 50vmin
	[event-target="additional-menu"]
		span::after
			content 'More'

#searchbar
	display none
	grid-area search
	width 100%
	border 0.2em solid
	z-index 10
	background $primary
	input
		font-text()
		sans-serif()
		text-transform uppercase
		text-align center
		width 100%
		height 100%
		background none
		border none
		-webkit-appearance none
		+below($sm)
			width 100%
			margin-left 0
		&:focus
			outline none
		&::placeholder
			color transparentize($secondary, 0.5)

#tags-index
	width 100%
	grid-area tags
	display none
	+above($md + 1)
		grid-template-columns 20% 20% 20% 20% 20%
	+below($md)
		font-menu()
		grid-template-columns auto
		grid-template-rows 20% 20% 20% 20% 20%
	.scroller
		+below($md)
			display none
		& > div
			overflow-y scroll
			-webkit-overflow-scrolling touch
			+above($md + 1)
				height 'calc(100vh - %s * 3)' % ($headerHeight)
			+below($md)
				height 'calc(100vh - %s * 4.75 - 50vmin)' % ($headerHeight)
			&::-webkit-scrollbar
				display none
	.search-elem
		display flex
		flex-direction column
		.button
			position relative
			width 100%
			float left
			display block
			border-radius 20em
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			&.search-category
				padding 1.5em 1em
				+above($md + 1)
					pointer-events none
			+below($md)
				&.search-category
					height 100%
					&.active
						span
							display none
						&::after
							content 'Back'
							align()
						& + .scroller
							display block
			span
				align()
				width 100%
		a.color
			width 100%
			float left
			display block
			border-radius 50%
			&:last-child
				margin-bottom 30%
			&::before
				content ""
				display block
				padding-top 100%
					
body.menu-on
	overflow hidden
	#close-menu
		display block
	#menu-burger
		background $secondary
		color $accent	
	#menu
		display grid
	&.more-on
		#menu
			+above($md + 1)
				grid-template-columns 37.5% auto $headerHeight
			+below($md)
				grid-template-columns 50vmin 50vmin
				grid-template-rows '50vmin calc(%s * 2) 1fr' % ($headerHeight)
				grid-template-areas 'more close' 'search search' 'tags tags'
		#close-menu
			display none
		#close-additional-menu
			display block
		nav#main-categories
			li:not(#more-button)
				+below($md)
					display none
			li#more-button
				+below($md)
					bottom initial
					top 0
			[event-target="additional-menu"]
				span::after
					content 'Less'
		#searchbar, #close-additional-menu
			display block
		#tags-index
			display grid
	&.category-active
		#menu
			.search-category:not(.active)
				display none
			#tags-index
				display block