[page-type=blog], [page-type=journal], [page-type=category]
	#page-content
		background $secondary
	.post-item
		position relative
		span(1)
		height 50vw
		+below($md)
			height 100vmin
		.item-visual, .item-text
			span(1/2)
			height 100%
			+below($md)
				stack()
				position absolute
		.item-visual
			z-index 1
			img
				object-fit cover
			.thumbnail-slider
				width 100%
				height 100%
				.flickity-slider
					transform none !important
				img
					left 0 !important
					visibility hidden
					&.is-selected
						visibility visible
					+below($md)
						visibility visible
						&:not(:first-child)
							display none
		.item-text
			display flex
			justify-content center
			align-items center
			text-align center
			overflow hidden
			padding $headerHeight
			blog-item-title('serif')
			z-index 2
			background $primary
			.item-date
				blog-item-title('sans-serif')
			.item-tags
				font-style italic
		.link-overlay
			display flex
			justify-content center
			align-items center
			width 100%
			height 100%
			position absolute
			top 0
			left 0
			z-index 3
		+above($md + 1)
			&.small:nth-child(4n+2), &.small:nth-child(4n+3), &:not(.small):nth-child(2)
				background $secondary
				.item-text
					color $primary
					background $secondary
				&.news
					.item-text
						color $accent
		+below($md)
			&:nth-child(even):not(.news)
				background $secondary
				.item-text
					color $primary
					background $secondary
					animation-direction reverse
			&:nth-child(odd):not(.news)
				background $primary
				.item-text
					color $secondary
					background $primary
			&:not(.news)
				.item-text
					animation blink 4s linear infinite
				.item-date
					position absolute
					top 1.5em
					left 0
					width 100%
					padding 0 $headerHeight
				.item-tags
					position absolute
					top 4em
					left 0
					width 100%
					padding 0 $headerHeight
		&.news
			.item-text
				color $accent
				blog-item-title('sans-serif')
				+below($md)
					background transparent
			.button
				+below($md)
					display none
		+above($md + 1)
			&.small
				span(1/2)
				height 25vw
				.item-text, .item-date
					blog-item-title('sans-serif', true)
				&:not(.news)
					.item-tags
						blog-item-title('serif', true)