#page-content[page-type=info]
	font-huge()
	position relative
	overflow hidden
	.huge
		cursor pointer
	.social
		display block
		float left
		width 50%
		height 50vw
		border-radius 100%
		background $accent
		display flex
		justify-content center
		align-items center
		+below($md)
			width 100%
			height 100vw
	.button, .social
		visibility hidden
	#credits
		position absolute
		z-index 1
		bottom 0
		left 0
		padding 1rem
		width 50%
		+below($md)
			width 100%