#close
	font-cta()
	position fixed
	top $headerHeight
	right 0
	z-index 4
	a
		background $accent
		color $secondary
		// font-size 2.3rem
		width $headerHeight
		height $headerHeight
		border-radius 100%
		display inline-flex
		justify-content center
		align-items center
		&:hover
			color $accent
			background $secondary

[page-type=post], [page-type=news]
	position relative
	background $primary
	#post-cover
		position fixed
		height 'calc(100vh - %s)' % ($headerHeight)
		z-index 501
		top $headerHeight
		left 0
		width 100%
		height 100vh
		cursor pointer
		img
			width 100%
			height 100%
			object-fit contain
			object-position top right
			filter: blur(0px) drop-shadow(0 0 0.6rem alpha($secondary, 0.7))
			&.image-placeholder:not(.lazyloaded)
				filter: blur(2px) drop-shadow(0 0 0.6rem alpha($secondary, 0.7))
	#post-visuals, #post-content
		min-height 'calc(100vh - %s)' % ($headerHeight)
		span(1/2)
		+below($md)
			stack()
	#post-content
		padding '2rem calc(%s + 2rem)' % $headerHeight
		span(1/2, $offset: 1/2)
		+above($md + 1)
			padding-bottom 100vh
		+below($md)
			stack()
			padding 2rem $headerHeight
		// &::before
		// 	content ''
		// 	position fixed
		// 	top 4.5rem
		// 	left 50%
		// 	width 100%
		// 	height 3.4rem
		// 	background $primary
		// 	z-index 3
		img
			width 100%
		.post-tag
			position relative
			z-index 1
			margin-top -0.4rem
			border-radius 20em
			overflow hidden
			text-overflow ellipsis
			& + .post-tag
				margin-top 0
			// &.color
			// 	width 30%
			// 	min-width initial
			// 	border-radius 50%
			// 	padding 0
			// 	&::before
			// 		content ""
			// 		display block
			// 		padding-top 100%
		.section-image
			figure
				margin 0
				img
					+above($md + 1)
						display none
					& ~ figcaption .post-tag
						+below($md)
							margin-top 0
			figcaption
				text-align center
		.section-image + .section-image
			.post-tag
				margin-top 0
	#post-header
		text-align center
		.post-tag
			margin-top 0
		h1
			margin-bottom 0
	#post-text
		serif('bold')
		p
			position relative
			z-index 5
			margin-top -.3em
			margin-bottom 0
		p + p
			margin-top 1em
		section:last-child
			p:last-child
				&::after
					content url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTUuMzA3IDE1LjMwNyI+CiAgPGRlZnM+CiAgICA8cGF0aCBpZD0iU1ZHSURfMV8iIGQ9Ik0wIDBoMTUuMzA3djE1LjMwN0gweiIvPgogIDwvZGVmcz4KICA8Y2xpcFBhdGggaWQ9IlNWR0lEXzJfIj4KICAgIDx1c2UgeGxpbms6aHJlZj0iI1NWR0lEXzFfIiBvdmVyZmxvdz0idmlzaWJsZSIvPgogIDwvY2xpcFBhdGg+CiAgPHBhdGggY2xpcC1wYXRoPSJ1cmwoI1NWR0lEXzJfKSIgZD0iTTcuNjUzIDE1LjMwN2M0LjIyOCAwIDcuNjU0LTMuNDI4IDcuNjU0LTcuNjU1QzE1LjMwOCAzLjQyNyAxMS44ODEgMCA3LjY1MyAwIDMuNDI2IDAgMCAzLjQyNyAwIDcuNjUyYzAgNC4yMjcgMy40MjYgNy42NTUgNy42NTMgNy42NTUiLz4KPC9zdmc+')
					display inline-block
					width 0.8em
					height 0.8em
					position relative
		strong
			box-shadow 0 0.25em 0

#post-visuals
	pointer-events none
	position fixed
	top $headerHeight
	left 0
	height 'calc(100vh - %s)' % ($headerHeight)
	overflow hidden
	z-index 99
	.post-visual
		visibility hidden
		position absolute
		width 100%
		height 100%
		img
			width 100%
			height 100%
			object-fit contain
			object-position top left
			filter: blur(0px) drop-shadow(0 0 0.6rem alpha($secondary, 0.7))
			&.image-placeholder:not(.lazyloaded)
				filter: blur(2px) drop-shadow(0 0 0.6rem alpha($secondary, 0.7))
		&:nth-child(even)
			img
				object-position top right
				+below($md)
					object-position bottom right
		.credits
			position absolute
			z-index 1
			bottom 1rem
			left 1rem
			width 33%
			color $accent
			visibility hidden
			+below($md)
				width 100%
	+above($md + 1)
		for i in (0..50)
			&[image-index=\"{i}\"]
				.post-visual:nth-child({i}), .post-visual:nth-child({i}) ~ .post-visual, .post-visual:nth-child({i}) .credits
					visibility visible
	+below($md)
		for i in (0..50)
			&[image-index=\"{i}\"].current-tag.is-scrolling
				.post-visual:nth-child({i}), .post-visual:nth-child({i}) .credits
					visibility visible