@import('fonts.css')
webfont('GenathRegular', 'GenathRegular')
webfont('GenathRegularIta', 'GenathRegularIta')

font-text()
	font-size 1.7rem
	+below($md)
		font-size 1.35rem
	
font-menu()
	font-size 3.7rem
	text-transform uppercase
	letter-spacing -0.02em
	line-height .85
	+below($md)
		font-size 2.6rem
	// white-space nowrap

font-heading()
	text-transform uppercase
	font-size 6.6rem
	letter-spacing -0.02em
	line-height .85
	+below($md)
		font-size 4rem

font-huge()
	text-transform uppercase
	letter-spacing -0.02em
	line-height .85
	font-size 9.5vw

font-cta()
	font-size 1.9rem
	+below($md)
		font-size 1.2rem

sans-serif()
	font-family 'ApaxBold', Helvetica Neue, Arial, sans-serif

// serif()
// 	font-family 'GenathBold', Times, serif
// 	em
// 		font-style italic

serif(weight = 'regular')
	if weight == 'bold'
		font-family 'GenathBold', Times, serif
		em
			font-style italic
	else
		font-family 'GenathRegular', Times, serif
		em
			font-family 'GenathRegularIta', Times, serif

blog-item-title(style = 'serif', small = false)
	letter-spacing -0.02em
	if style == 'serif'
		serif('bold')
		line-height 0.83
		font-size 7.5vw
		+below($md)
			font-size 14.5vmin
		if small
			font-size 3.5vw
	else
		sans-serif()
		font-size 6.8vw
		+below($md)
			font-size 12.8vmin
		if small
			font-size 3.2vw

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $secondary

html
	font-size 10px
	+above($md + 1)
		font-size 0.7vw

body
	sans-serif()
	font-text()
	text-rendering optimizeLegibility
	font-smoothing()
	line-height 1

#site-title, .post-tag
	font-menu()
	white-space nowrap

#post-date, .caption, .credits
	font-size 1rem
	serif()
	text-transform uppercase
	letter-spacing .1em

h1.title
	font-heading()

p
	margin-bottom 1em
	line-height 1.2

p:last-child
	margin-bottom 0

#post-text p
	+below($md)
		font-size 1.6rem